
.ivu-btn {
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  border-radius: 2px;
}

.ivu-btn-primary {
  border-color: #587ada;
  background-color: #587ada;
}

.ivu-btn-large {
  height: 36px;
}

.ivu-checkbox-wrapper {
  font-size: 14px;
}

.ivu-checkbox-checked {
  .ivu-checkbox-inner {
    border-color: #587ada;
    background-color: #587ada;
  }
}

.ivu-checkbox-indeterminate {
  .ivu-checkbox-inner {
    border-color: #587ada;
    background-color: #587ada;
  }
}

.ivu-date-picker {
  input {
    cursor: pointer;
  }
}

.ivu-input {
  border-radius: 2px;
  border-color: #ddd;
}

.ivu-form {
  .ivu-form-item-label {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 14px;
  }

  .ivu-form-item-content {
    font-size: 14px;
  }
}

/* 垂直居中 */
.ivu-modal-wrap {
  display: flex;
  align-items: center;

  .ivu-modal {
    top: 0px;
    max-height: 100%;
  }
}

.ivu-page.my-page {
  font-size: 0px;
  text-align: center;

  .ivu-page-total {
    height: 38px;
    vertical-align: top;
    font-size: 14px;
    line-height: 38px;
  }

  .ivu-page-item {
    min-width: 38px;
    height: 38px;
    margin-right: -1px;
    font-size: 14px;
    line-height: 36px;
    border-color: #e5e5e5;
    border-radius: 0px;
  }

  .ivu-page-prev {
    height: 38px;
    padding: 0px 11px;
    margin-right: -1px;
    line-height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 2px 0px 0px 2px;

    a {
      color: #333;
    }
  }

  .ivu-page-next {
    height: 38px;
    padding: 0px 11px;
    line-height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 0px 2px 2px 0px;

    a {
      color: #333;
    }
  }

  .ivu-page-item-active {
    a {
      position: absolute;
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      z-index: 1;
      margin: 0px;
      color: #8a9dd3;
      border: 1px solid #c8d3ee;
      background-color: #eaeffb;
    }
  }

  .ivu-page-options {
    font-size: 14px;

    .ivu-select-selection {
      height: 38px;
      border-color: #e5e5e5;
      border-radius: 2px;
    }

    .ivu-select-selected-value {
      height: 36px;
      color: #333;
      font-size: 14px;
      line-height: 36px;
    }

    .ivu-page-options-elevator {
      height: 38px;
      line-height: 38px;

      input {
        width: 38px;
        height: 38px;
        font-size: 14px;
        text-align: center;
        border-color: #e5e5e5;
        border-radius: 2px;
      }
    }
  }

  .ivu-page-item-jump-prev {
    font-size: 14px;
  }

  .ivu-page-item-jump-next {
    font-size: 14px;
  }
}

.ivu-select {
  .ivu-select-selection {
    > div {
      position: static;
    }
  }
}

.ivu-table-wrapper.my-table {
  border: 0px;

  .ivu-table {
    color: #333;
    font-size: 14px;

    th {
      height: 29px;
      color: #526891;
      font-size: 14px;
      font-weight: normal;
      border: 1px solid #c5d2e8;
      background-color: #e4eaf5;

      .ivu-table-cell {
        display: block;
        text-align: center !important;
      }
    }

    td {
      height: 40px;
      text-align: center;
      border-bottom: 0px;
    }
  }

  .ivu-table:before {
    display: none;
  }
  .ivu-table:after {
    display: none;
  }

  .ivu-table-body {
    overflow: auto;
  }

  .ivu-table-row:nth-child(2n) {
    td {
      background-color: #f4f7fb;
    }
  }

  .ivu-table-cell {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
  }

  .ivu-table-column-left {
    .ivu-table-cell {
      text-align: left !important;
    }
  }

  .ivu-table-tip {
    td {
      padding: 250px 0px 20px;
      color: #919191;
      font-size: 16px;
      background-image: url(../assets/empty.png);
      background-size: 300px;
      background-position: center 50px;
      background-repeat: no-repeat;
    }
  }

  .ivu-spin-fix {
    border: 0px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .ivu-table-fixed {
    box-shadow: none;
  }
  .ivu-table-fixed:before {
    width: 1px;
    height: auto;
    left: auto;
    top: 30px;
    right: 0px;
    background-color: #f0f0f0;
  }

  .ivu-table-fixed-right {
    box-shadow: none;
  }
  .ivu-table-fixed-right:before {
    width: 1px;
    height: auto;
    top: 30px;
    background-color: #f0f0f0;
  }

  .ivu-table-fixed-header {
    border: 1px solid #c5d2e8;

    th {
      height: 28px;
      border: 0px;
    }
  }
}

.ivu-tree {
  line-height: initial;

  .ivu-tree-empty {
    font-size: 12px;
    line-height: 32px;
  }
}
